h3 Results
table.table.table-striped
    thead
        tr
            th Name
    tbody
        
        style.
            game {
                font-size: 20px;
                color: #000000;
            }
        
        tr
            td
                b
                    game= "foo"
